* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Adler";
  src: url("fonts/adler.ttf") format("truetype");
}

body {
  font-family: "Adler", sans-serif;
  background-color: #dfcdb5;
}

h1 {
  text-transform: uppercase;
  font-size: 170px;
  white-space: nowrap;
}

.animated {
  transform: matrix(1, 0, 0, 1, 0, 0);
  opacity: 1;
  filter: blur(0rem);
  display: inline-block;
  transition: opacity 2s, filter 2s, transform 2s;
}
